pip install beautifulsoup4
pip install google
# git clone
git clone https://github.com/CyberNDR/SocialNetSpy.git

# change from current directory to SocialNetSpy
cd SocialNetSpy

# install requirements
pip install -r requirements.txt

# run the program
python socialnetspy.p